In [1]:
'''
data that are stored in csv, txt, json
major purs: cleaning, manipulation etc like web scraping
high level library ie require other libs to run  like numpys
'''

'\ndata that are stored in csv, txt, json\nmajor purs: cleaning, manipulation etc like web scraping\nhigh level library ie require other libs to run  like numpys\n'

In [2]:
import pandas
import numpy

In [9]:
df1 = pandas.DataFrame([[5, 5000, 20], [10, 9000, 23], [12, 70000, 80]], columns = ["Days", "Visitors", "BR"], index = ["first", "second", "third"])

In [10]:
df1

        Days  Visitors  BR
first      5      5000  20
second    10      9000  23
third     12     70000  80

In [11]:
df2 = pandas.DataFrame({"days": [4, 12], "visitors": [5000, 6000], "BR": [20,23]})

In [12]:
df2
# better way is to write dictionary form

   days  visitors  BR
0     4      5000  20
1    12      6000  23

In [13]:
type(df2)

pandas.core.frame.DataFrame

In [14]:
df2.visitors.max()

6000